<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>스타 리플봐? - 리플레이 공유 커뮤니티</title>
</head>
<body>
<h1>마이 페이지</h1>
<div>
  <label>닉네임</label>
  <input type="text" value="빨무 죽돌이">
  <input type="submit" value="변경하기">
</div>
<div>
  <div>
    <label>비밀 번호</label>
    <input type="password" value="********" maxlength="10">
  </div>
  <div>
    <label>새 비밀 번호</label>
    <input type="password" maxlength="10">
  </div>
  <div>
    <label>새 비밀 번호 확인</label>
    <input type="password" maxlength="10">
  </div>
</div>
<a href="/">홈으로</a>
</body>
</html>