<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.orf">
<head>
  <meta charset="UTF-8">
  <title>스타 리플봐? - 리플레이 공유 커뮤니티</title>
</head>
<body>
<h1>리플봐?</h1>
<h2>카테고리</h2>
<div>
  <ul>
    <li>1:1 밀리</li>
    <li>1:1 빠른 무한</li>
    <li>3:3 빠른 무한</li>
    <li>4:4 빠른 무한</li>
    <li>유즈맵</li>
  </ul>
</div>
<div>
  <input type="text" placeholder="제목"></input>
  <input type="submit" value="검색">
</div>
<div>
  <ul>
    <li>
      <div>
        <div>
          <p>팀원 다죽엇엉 ㅠㅠ</p>
        </div>
        <div>
          <span>3:3 빠른무한</span>
        </div>
        <div>
          <span>추천</span>
          <span>1000</span>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div>
          <p>1시간 동안 함...</p>
        </div>
        <div>
          <span>1:1 밀리</span>
        </div>
        <div>
          <span>추천</span>
          <span>0</span>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div>
          <p>메렌디 공략법</p>
        </div>
        <div>
          <span>유즈맵</span>
        </div>
        <div>
          <span>추천</span>
          <span>500</span>
        </div>
      </div>
    </li>
  </ul>
</div>
<a href="/member/myPage">마이 페이지</a>
</body>
</html>